#menu {
    a {
        font-size: 18px;
        font-weight: bold;
        color: #3f3f3f;
    }
    a:hover{
        background-color: black;
        color: #f3eb09;
    }
    button {
        font-size: 18px;
        font-weight: bold;
    }
    
}
